{% extends 'base.html' %} {% block title %} Contact us {% endblock%} {% block content %}




<div class="container mt-5">


    <!-- Contact Details -->
    <div class="contact-container">
        <!-- Company Logo -->
        <img src="../../static/images/logo.png" alt="Company Logo" class="img-fluid mb-4 logo-image">

        <h3>Contact Details</h3>
        <div class="contact-details">
            <p>Email: bigdreamgroup@gmail.com</p>
            <p>Phone: +260 7772-63445</p>
            <p>Address: Chirundu, Southern Province, Zambia</p>
        </div>
    </div>

</div>

{% endblock %}