{% extends 'base.html' %} {% block title %} Contact us {% endblock%} {% block content %}
<div class="container-fluid bg-light" style="height: 100vh;">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'dashboard' %}">
                            Dashbaord
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bookings' %}">
                            Bookings
                        </a>
                    </li>
                    {% if request.user.user_type == 2%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tickets' %}">
                            Tickets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'event_list' %}">
                            Events
                        </a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </nav>

        <!-- Main content area -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            {% if user.user_type %} {% if events_created %}
            <div id="user-events" class="my-4">
                <h2>Your events</h2>
                <!-- User events content goes here -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-dark text-light">
                            <tr>
                                <th>Event</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Organizer</th>
                                <th>Type</th>
                                <!-- Add more columns as needed -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events_created %}
                            <tr>
                                <td>{{ event.title }}</td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.date }}</td>
                                <td>{{ event.location }}</td>
                                <td>{{ event.organizer }}</td>
                                <td>{{ event.event_type}}</td>
                                <!-- Add more cells as needed -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %} {% endif %}





        </main>

    </div>
</div>





{% endblock %}