{% extends "base.html" %}

{% load static %}

{% block title %} Big-Dream-Group {% endblock %}

{% block content %}

<style>
    #heroCarousel .carousel-inner {
        height: 400px; 
    }
    .container {
        text-align: center;
    }
</style>

    <!-- Carousel Section -->
    <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/truck.jpg' %}" class="d-block w-100" alt="Carousel Image">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/loan.jpg' %}" class="d-block w-100" alt="Carousel Image">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/sumco.jpg' %}" class="d-block w-100" alt="Carousel Image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="container pt-3 mt-3 carousel-caption mx-auto text-center">
            <h1>Welcome to Big Dream Clearing And General Dealers</h1>
            <p>Your go-to platform for unforgettable events and experiences.</p>
            <a href="{% url 'login' %}" class="btn btn-dark">Get Started</a>
        </div>    
    </div>
{% endblock %}
